<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.fzu.tmall.mapper.OrderMapper">
    <select id="getOrderWithOrderItemAndUser" resultMap="OrderWithOrderItemAndUser">
        select o.*,u.name from _order o,user u where o.uid=u.id
    </select>

    <resultMap id="OrderWithOrderItemAndUser" type="order">
        <id property="id" column="id"/>
        <result property="orderCode" column="orderCode"/>
        <result property="address" column="address"/>
        <result property="post" column="post"/>
        <result property="receiver" column="receiver"/>
        <result property="mobile" column="mobile"/>
        <result property="createDate" column="createDate"/>
        <result property="payDate" column="payDate"/>
        <result property="deliveryDate" column="deliveryDate"/>
        <result property="confirmDate" column="confirmDate"/>
        <result property="status" column="status"/>
        <association property="user" javaType="User">
            <id property="id" column="uid"/>
            <result property="name" column="name"/>
        </association>
        <collection property="orderItems" column="id" ofType="orderItem"
                    select="edu.fzu.tmall.mapper.OrderItemMapper.selectOrderItems"/>
    </resultMap>

    <select id="selectById" parameterType="Integer" resultType="order">
        select * from _order o where o.id=#{id}
    </select>

</mapper>
